---
http_interactions:
- request:
    method: post
    uri: https://api.tibber.com/v1-beta/gql
    body:
      encoding: UTF-8
      string: '{"query":"query Tibber__PRICE_INFO_QUERY {\n  viewer {\n    homes {\n      currentSubscription
        {\n        priceInfo {\n          today {\n            total\n            startsAt\n            level\n          }\n          tomorrow
        {\n            total\n            startsAt\n            level\n          }\n        }\n      }\n    }\n  }\n}","operationName":"Tibber__PRICE_INFO_QUERY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TIBBER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7b4-T5YgOLjKXecjJXEdEP9iNbm9zNg"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"viewer":{"homes":[{"currentSubscription":{"priceInfo":{"today":[{"total":0.0984,"startsAt":"2024-08-21T00:00:00.000+02:00","level":"VERY_CHEAP"},{"total":0.0919,"startsAt":"2024-08-21T01:00:00.000+02:00","level":"VERY_CHEAP"},{"total":0.0886,"startsAt":"2024-08-21T02:00:00.000+02:00","level":"VERY_CHEAP"},{"total":0.0885,"startsAt":"2024-08-21T03:00:00.000+02:00","level":"VERY_CHEAP"},{"total":0.0916,"startsAt":"2024-08-21T04:00:00.000+02:00","level":"VERY_CHEAP"},{"total":0.1,"startsAt":"2024-08-21T05:00:00.000+02:00","level":"VERY_CHEAP"},{"total":0.1317,"startsAt":"2024-08-21T06:00:00.000+02:00","level":"CHEAP"},{"total"[...]
- request:
    method: post
    uri: http://<INFLUX_HOST>:8086/api/v2/write?bucket=<INFLUX_BUCKET>&org=<INFLUX_ORG>&precision=s
    body:
      encoding: UTF-8
      string: |-
        my-tibber amount=0.0984,level="VERY_CHEAP" 1724191200
        my-tibber amount=0.0919,level="VERY_CHEAP" 1724194800
        my-tibber amount=0.0886,level="VERY_CHEAP" 1724198400
        my-tibber amount=0.0885,level="VERY_CHEAP" 1724202000
        my-tibber amount=0.0916,level="VERY_CHEAP" 1724205600
        my-tibber amount=0.1,level="VERY_CHEAP" 1724209200
        my-tibber amount=0.1317,level="CHEAP" 1724212800
        my-t[...]
[...]
