---
http_interactions:
- request:
    method: post
    uri: https://api.tibber.com/v1-beta/gql
    body:
      encoding: UTF-8
      string: '{"query":"query Tibber__PRICE_INFO_QUERY {\n  viewer {\n    homes {\n      currentSubscription
        {\n        priceInfo {\n          today {\n            total\n            startsAt\n            level\n          }\n          tomorrow
        {\n            total\n            startsAt\n            level\n          }\n        }\n      }\n    }\n  }\n}","operationName":"Tibber__PRICE_INFO_QUERY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TIBBER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"79d-tACMqpyQeHji91XW4SojTMH9IBc"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"viewer":{"homes":[{"currentSubscription":{"priceInfo":{"today":[{"total":0.4036,"startsAt":"2024-07-17T00:00:00.000+02:00","level":"NORMAL"},{"total":0.4009,"startsAt":"2024-07-17T01:00:00.000+02:00","level":"NORMAL"},{"total":0.3971,"startsAt":"2024-07-17T02:00:00.000+02:00","level":"NORMAL"},{"total":0.389,"startsAt":"2024-07-17T03:00:00.000+02:00","level":"NORMAL"},{"total":0.3809,"startsAt":"2024-07-17T04:00:00.000+02:00","level":"NORMAL"},{"total":0.3756,"startsAt":"2024-07-17T05:00:00.000+02:00","level":"NORMAL"},{"total":0.3982,"startsAt":"2024-07-17T06:00:00.000+02:00","level":"NORMAL"},{"total":0.4323,"startsAt":"2[...]
- request:
    method: post
    uri: http://<INFLUX_HOST>:8086/api/v2/write?bucket=<INFLUX_BUCKET>&org=<INFLUX_ORG>&precision=s
    body:
      encoding: UTF-8
      string: |-
        my-tibber amount=0.4036,level="NORMAL" 1721167200
        my-tibber amount=0.4009,level="NORMAL" 1721170800
        my-tibber amount=0.3971,level="NORMAL" 1721174400
        my-tibber amount=0.389,level="NORMAL" 1721178000
        my-tibber amount=0.3809,level="NORMAL" 1721181600
        my-tibber amount=0.3756,level="NORMAL" 1721185200
        my-tibber amount=0.3982,level="NORMAL" 1721188800
        my-tibber amount=0.4323,l[...]
[...]
