---
http_interactions:
- request:
    method: post
    uri: https://api.tibber.com/v1-beta/gql
    body:
      encoding: UTF-8
      string: '{"query":"query Tibber__PRICE_INFO_QUERY {\n  viewer {\n    homes {\n      currentSubscription
        {\n        priceInfo {\n          today {\n            total\n            startsAt\n            level\n          }\n          tomorrow
        {\n            total\n            startsAt\n            level\n          }\n        }\n      }\n    }\n  }\n}","operationName":"Tibber__PRICE_INFO_QUERY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TIBBER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7c3-3t6EmC+d3VknHfRCkNeC/J5msks"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"viewer":{"homes":[{"currentSubscription":{"priceInfo":{"today":[{"total":0.1068,"startsAt":"2024-10-31T00:00:00.000+01:00","level":"VERY_CHEAP"},{"total":0.1097,"startsAt":"2024-10-31T01:00:00.000+01:00","level":"VERY_CHEAP"},{"total":0.1222,"startsAt":"2024-10-31T02:00:00.000+01:00","level":"VERY_CHEAP"},{"total":0.1369,"startsAt":"2024-10-31T03:00:00.000+01:00","level":"VERY_CHEAP"},{"total":0.1457,"startsAt":"2024-10-31T04:00:00.000+01:00","level":"VERY_CHEAP"},{"total":0.1646,"startsAt":"2024-10-31T05:00:00.000+01:00","level":"VERY_CHEAP"},{"total":0.3728,"startsAt":"2024-10-31T06:00:00.000+01:00","level":"NORMAL"},{"to[...]
