---
http_interactions:
- request:
    method: post
    uri: https://api.tibber.com/v1-beta/gql
    body:
      encoding: UTF-8
      string: '{"query":"query Tibber__PRICE_INFO_QUERY {\n  viewer {\n    homes {\n      currentSubscription
        {\n        priceInfo {\n          today {\n            total\n            startsAt\n            level\n          }\n          tomorrow
        {\n            total\n            startsAt\n            level\n          }\n        }\n      }\n    }\n  }\n}","operationName":"Tibber__PRICE_INFO_QUERY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer invalid_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6a-D4EHp016fETduq58hl56Kzj7tn8"
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Context creation failed: invalid token","extensions":{"code":"UNAUTHENTICATED"}}]}

        '
  recorded_at: Wed, 21 Aug 2024 06:04:14 GMT
recorded_with: VCR 6.3.1
