---
http_interactions:
- request:
    method: post
    uri: https://api.tibber.com/v1-beta/gql
    body:
      encoding: UTF-8
      string: '{"query":"query Tibber__PRICE_INFO_QUERY {\n  viewer {\n    homes {\n      currentSubscription
        {\n        priceInfo {\n          today {\n            total\n            startsAt\n            level\n          }\n          tomorrow
        {\n            total\n            startsAt\n            level\n          }\n        }\n      }\n    }\n  }\n}","operationName":"Tibber__PRICE_INFO_QUERY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TIBBER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7e9-eDCHfOEh2iLgL6A+fBSO/U/PifE"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"viewer":{"homes":[{"currentSubscription":{"priceInfo":{"today":[{"total":0.4126,"startsAt":"2024-01-11T00:00:00.000+01:00","level":"VERY_CHEAP"},{"total":0.4233,"startsAt":"2024-01-11T01:00:00.000+01:00","level":"VERY_CHEAP"},{"total":0.4588,"startsAt":"2024-01-11T02:00:00.000+01:00","level":"VERY_CHEAP"},{"total":0.4955,"startsAt":"2024-01-11T03:00:00.000+01:00","level":"VERY_CHEAP"},{"total":0.5201,"startsAt":"2024-01-11T04:00:00.000+01:00","level":"VERY_CHEAP"},{"total":0.5983,"startsAt":"2024-01-11T05:00:00.000+01:00","level":"VERY_CHEAP"},{"total":0.7044,"startsAt":"2024-01-11T06:00:00.000+01:00","level":"VERY_CHEAP"},[...]
