---
http_interactions:
- request:
    method: post
    uri: https://api.tibber.com/v1-beta/gql
    body:
      encoding: UTF-8
      string: '{"query":"query Tibber__PRICE_INFO_QUERY {\n  viewer {\n    homes {\n      currentSubscription
        {\n        priceInfo(resolution: QUARTER_HOURLY) {\n          today {\n            total\n            startsAt\n            level\n          }\n          tomorrow
        {\n            total\n            startsAt\n            level\n          }\n        }\n      }\n    }\n  }\n}","operationName":"Tibber__PRICE_INFO_QUERY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TIBBER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1f54-W7Q0XKfE3DsALApFyuAILQZLgVc"
    body:
      encoding: UTF-8
      string: '{"data":{"viewer":{"homes":[{"currentSubscription":{"priceInfo":{"today":[{"total":0.1299,"startsAt":"2025-09-23T00:00:00.000+02:00","level":"VERY_CHEAP"},{"total":0.1299,"startsAt":"2025-09-23T00:15:00.000+02:00","level":"VERY_CHEAP"},{"total":0.1299,"startsAt":"2025-09-23T00:30:00.000+02:00","level":"VERY_CHEAP"},{"total":0.1299,"startsAt":"2025-09-23T00:45:00.000+02:00","level":"VERY_CHEAP"},{"total":0.3395,"startsAt":"2025-09-23T01:00:00.000+02:00","level":"EXPENSIVE"},{"total":0.3395,"startsAt":"2025-09-23T01:15:00.000+02:00","level":"EXPENSIVE"},{"total":0.3395,"startsAt":"2025-09-23T01:30:00.000+02:00","level":"EXPENSIVE"},{"t[...]
