---
http_interactions:
- request:
    method: post
    uri: https://api.tibber.com/v1-beta/gql
    body:
      encoding: UTF-8
      string: '{"query":"query Tibber__PriceInfo__Query {\n  viewer {\n    homes {\n      currentSubscription
        {\n        priceInfo {\n          today {\n            total\n            startsAt\n            level\n          }\n          tomorrow
        {\n            total\n            startsAt\n            level\n          }\n        }\n      }\n    }\n  }\n}","operationName":"Tibber__PriceInfo__Query"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TIBBER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eb9-ZLIq89OtzZ+GCgXurVmoQ48Fgfg"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"viewer":{"homes":[{"currentSubscription":{"priceInfo":{"today":[{"total":1.4968,"startsAt":"2023-12-06T00:00:00.000+01:00","level":"CHEAP"},{"total":1.462,"startsAt":"2023-12-06T01:00:00.000+01:00","level":"CHEAP"},{"total":1.4452,"startsAt":"2023-12-06T02:00:00.000+01:00","level":"CHEAP"},{"total":1.4387,"startsAt":"2023-12-06T03:00:00.000+01:00","level":"CHEAP"},{"total":1.4334,"startsAt":"2023-12-06T04:00:00.000+01:00","level":"CHEAP"},{"total":1.4688,"startsAt":"2023-12-06T05:00:00.000+01:00","level":"CHEAP"},{"total":1.6328,"startsAt":"2023-12-06T06:00:00.000+01:00","level":"CHEAP"},{"total":2.0596,"startsAt":"2023-12-[...]
