---
http_interactions:
- request:
    method: post
    uri: https://api.tibber.com/v1-beta/gql
    body:
      encoding: UTF-8
      string: '{"query":"query Tibber__PRICE_INFO_QUERY {\n  viewer {\n    homes {\n      currentSubscription
        {\n        priceInfo {\n          today {\n            total\n            startsAt\n            level\n          }\n          tomorrow
        {\n            total\n            startsAt\n            level\n          }\n        }\n      }\n    }\n  }\n}","operationName":"Tibber__PRICE_INFO_QUERY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TIBBER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"81d-kJKt3KGxA87ccAxuAsKG6v+IGXE"
    body:
      encoding: UTF-8
      string: '{"data":{"viewer":{"homes":[{"currentSubscription":{"priceInfo":{"today":[{"total":0.1299,"startsAt":"2025-09-23T00:00:00.000+02:00","level":"VERY_CHEAP"},{"total":0.3395,"startsAt":"2025-09-23T01:00:00.000+02:00","level":"EXPENSIVE"},{"total":0.3398,"startsAt":"2025-09-23T02:00:00.000+02:00","level":"EXPENSIVE"},{"total":0.34,"startsAt":"2025-09-23T03:00:00.000+02:00","level":"EXPENSIVE"},{"total":0.3369,"startsAt":"2025-09-23T04:00:00.000+02:00","level":"EXPENSIVE"},{"total":0.3985,"startsAt":"2025-09-23T05:00:00.000+02:00","level":"VERY_EXPENSIVE"},{"total":0.6656,"startsAt":"2025-09-23T06:00:00.000+02:00","level":"VERY_EXPENSIVE"[...]
