---
http_interactions:
- request:
    method: post
    uri: https://api.tibber.com/v1-beta/gql
    body:
      encoding: UTF-8
      string: '{"query":"query Tibber__PRICE_INFO_QUERY {\n  viewer {\n    homes {\n      currentSubscription
        {\n        priceInfo {\n          today {\n            total\n            startsAt\n            level\n          }\n          tomorrow
        {\n            total\n            startsAt\n            level\n          }\n        }\n      }\n    }\n  }\n}","operationName":"Tibber__PRICE_INFO_QUERY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer invalid_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"93-nDNEBAQtFQVPj3rB6ZEpnKdncD4"
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"invalid token","locations":[{"line":2,"column":3}],"path":["viewer"],"extensions":{"code":"UNAUTHENTICATED"}}],"data":null}

        '
  recorded_at: Tue, 23 Sep 2025 05:09:14 GMT
recorded_with: VCR 6.3.1
