---
http_interactions:
- request:
    method: post
    uri: https://api.tibber.com/v1-beta/gql
    body:
      encoding: UTF-8
      string: '{"query":"query Tibber__PRICE_INFO_QUERY {\n  viewer {\n    homes {\n      currentSubscription
        {\n        priceInfo {\n          today {\n            total\n            startsAt\n            level\n          }\n          tomorrow
        {\n            total\n            startsAt\n            level\n          }\n        }\n      }\n    }\n  }\n}","operationName":"Tibber__PRICE_INFO_QUERY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TIBBER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7ad-xyRXiQQeLDShR9kcduxHuyBNSuQ"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"viewer":{"homes":[{"currentSubscription":{"priceInfo":{"today":[{"total":0.7093,"startsAt":"2023-12-10T00:00:00.000+01:00","level":"VERY_CHEAP"},{"total":0.6741,"startsAt":"2023-12-10T01:00:00.000+01:00","level":"VERY_CHEAP"},{"total":0.6611,"startsAt":"2023-12-10T02:00:00.000+01:00","level":"VERY_CHEAP"},{"total":0.6711,"startsAt":"2023-12-10T03:00:00.000+01:00","level":"VERY_CHEAP"},{"total":0.5776,"startsAt":"2023-12-10T04:00:00.000+01:00","level":"VERY_CHEAP"},{"total":0.6057,"startsAt":"2023-12-10T05:00:00.000+01:00","level":"VERY_CHEAP"},{"total":0.596,"startsAt":"2023-12-10T06:00:00.000+01:00","level":"VERY_CHEAP"},{[...]
